<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="/app.js"></script>
<style>
img {
  height: 100px;
}
</style>
</head>
<body>
<table>
  <tr>
    <td><div id="ikendiv" href="#" onclick="iken()"><img src="/最高.png"></div></td>
    <td><span id="ikencount" style="font-size: 50px;">?</span> 最高</td>
  </tr>
  <tr>
    <td><div id="emodiv" href="#" onclick="emo()"><img src="/エモい！.png"></div></td>
    <td><span id="emocount" style="font-size: 50px;">?</span> エモい</td>
  </tr>
  <tr>
    <td><div id="itfdiv" href="#" onclick="itf()"><img src="/ITF.png"></div></td>
    <td><span id="itfcount" style="font-size: 50px;">?</span> ITF.</td>
  </tr>
  <tr>
    <td><div id="watcdiv" href="#" onclick="watc()"><img src="/WTC.png"></div></td>
    <td><span id="watccount" style="font-size: 50px;">?</span> We Are The Champions</td>
  </tr>
</table>
</body>
</html>
